<header class="flex justify-center items-center mx-auto py-5 sticky top-0 w-full z-10 style="word-spacing: 0.2em;">

    <nav class="flex flex-wrap justify-center items-center px-3 text-base font-medium rounded-full w-full bg-[#171717]">
        <a class="hover:bg-white/10 rounded-full px-6 py-2 transition text-base md:text-base" href="#top">Inicio</a>
        <a class="hover:bg-white/10 rounded-full px-6 py-2 transition text-base md:text-base" href="#tecnologias">Tecnologías</a>
        <a class="hover:bg-white/10 rounded-full px-6 py-2 transition text-base md:text-base" href="#proyectos">Proyectos</a>
        <a class="hover:bg-white/10 rounded-full px-6 py-2 transition text-base md:text-base" href="#certificados">Certificados</a>
        <a class="hover:bg-white/10 rounded-full px-6 py-2 transition text-base md:text-base" href="#sobre_mi">Sobre mí</a>
    </nav>
</header>
