<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty text-xl lg:text-2xl opacity-80 max-w-{700px}">
    <p style="text-align: justify;">Desarrollador web junior con una sólida base en desarrollo <strong>front-end (HTML, CSS, JavaScript, Angular)</strong>, conocimientos en <strong>back-end (Spring Boot, Java, PHP)</strong> y <strong>base de datos (Oracle, MySQL).</strong> Con muchas ganas de aprender y colaborar en un equipo de desarrollo profesional. Busco una oportunidad para aplicar mis habilidades y contribuir al desarrollo de proyectos web innovadores.</p>   
</div>
<img src="/projects/ING_4529.webp" alt="yo" class="rounded-full size-64">
</section>
